/* Основні стилі для форми */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 28px;



}

/* Стилі для полів вводу */
.form input[type='number'] {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#text {
    text-align: left;
}

.form>label {
    display: flex;
    flex-direction: column;

    width: 360px;
    height: 72px;

}

fieldset {
    display: flex;
    gap: 48px;
    width: 360px;
    height: auto;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    align-content: space-between;

}

fieldset:hover {
    border: 2px solid #000;
}

fieldset>label {}

legend {
    text-align: left;
}

/* Стилі для кнопки */
.form button {
    width: 360px;
    height: auto;
    padding: 10px;
    background-color: #4e75ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form button:hover {
    background-color: #6c8cff;
}